body {
	padding: 0;
	margin: 0;
	color: white;
}

html,
body {
	height: 100%;
}

* {
	box-sizing: border-box;
}

h1 {
	margin: 0;
}

img {
	min-height: 100%;
}

.wrapper {
	min-height: 100%;
	background: linear-gradient(0deg, #ac00cc, #f200ff);
	display: flex;
	align-items: center;
}

.container {
	margin: 0 auto;
	max-height: 1170px;
}

.title {
	text-align: center;
	text-transform: uppercase;
	font-size: 80px;
}

.content {
}

.number {
	width: 10px;
	height: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.number__top {
	width: 80%;
	transform: translateY(-40px);
}

.number__btm {
}

.content__text {
	padding: 0 0 0 50px;
}

.content__title {
	font-size: 100px;
	text-align: center;
}

.content__subtitle {
	font-size: 80px;
	text-align: center;
}
